@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

:root {
  --foreground-rgb: 255, 255, 255;
  --background-hex: #141414
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-hex);

  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}


@keyframes throb {
  0%{
    box-shadow: 0px 0px 0px 1px #7794FB, 0px 0px 0px 5px var(--background-hex), 0px 0px 0px 6px rgba(54, 97, 249, 0), 0px 0px 0px 10px var(--background-hex), 0px 0px 0px 11px rgba(54, 97, 249, 0);
  }
  25% {
    box-shadow: 0px 0px 0px 1px #7794FB, 0px 0px 0px 5px var(--background-hex), 0px 0px 0px 6px rgba(54, 97, 249, 0.45), 0px 0px 0px 10px var(--background-hex), 0px 0px 0px 11px rgba(54, 97, 249, 0);
  }
  50% {
    box-shadow: 0px 0px 0px 1px #7794FB, 0px 0px 0px 5px var(--background-hex), 0px 0px 0px 6px rgba(54, 97, 249, 0.85), 0px 0px 0px 10px var(--background-hex), 0px 0px 0px 11px rgba(54, 97, 249, 0.5);
  }
  75% {
    box-shadow: 0px 0px 0px 1px #7794FB, 0px 0px 0px 5px var(--background-hex), 0px 0px 0px 6px rgba(54, 97, 249, 0.45), 0px 0px 0px 10px var(--background-hex), 0px 0px 0px 11px rgba(54, 97, 249, 0);
  }
  100% {
    box-shadow: 0px 0px 0px 1px #7794FB, 0px 0px 0px 5px var(--background-hex), 0px 0px 0px 6px rgba(54, 97, 249, 0), 0px 0px 0px 10px var(--background-hex), 0px 0px 0px 11px rgba(54, 97, 249, 0);
  }
}


@keyframes lineMove {
  to {
    stroke-dashoffset: 0;
  }
}